<h1>Posts from members</h1>
<% if @posts.empty? %>
  <p>There are no posts available</p>
<% else %>
  <ul>
  <% @posts.each do |post| %>
    <% author = User.find(post.user_id) %>
    <li>
    <% if user_signed_in? %>
      @<%= author.username %><br>
    <% end %>
    <%= post.body %>
    </li><br><br>
  <% end %>
  </ul>
<% end %>

<%= link_to 'create new post', new_post_path %><br>

<% if user_signed_in?%>
  <div>Your signed-in as @<%= current_user.username %><br></div>
  <%= link_to 'sign out', destroy_user_session_path, method: :delete, data: { turbo_method: :delete } %>
<% else %>
  <%= link_to 'sign in', new_user_session_path %>
<% end %>